@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1b1c1e;
  --foreground: #d3dae4;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
